:root{
    --primary-color:  #FCE029;
    --secondary-color: #0A75BC;
    --tertiary-color: #A87A51;
    --fourth-color: #949699;
}


@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');
body{
    font-family: 'Nova Round', cursive;
    margin: 0px auto;
    max-width: 100%;
    width: 100%;
}

.header-design{
    padding: 1rem;
    text-align: center;
    background-color: var(--secondary-color);
    color: #FCE029;   
}

.btn-design{
    
        
        color: white;
        background-color: #A87A51;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
}

.footer-design{
    padding: 2rem;
    background-color: #FCE029;
    color: #0A75BC;
    text-align: center;
}